# This file specifies which files and directories should be ignored by Git

# Assesment details - Ignores the PDF file of the assessment
nutrisaas_assessment.pdf

# Dependencies - Ignores files and directories created by various package managers
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Backend - Ignores the Node.js dependencies directory for the backend
/backend/node_modules

# Frontend - Ignores the Node.js dependencies and the Next.js build output directory for the frontend
/frontend/node_modules
/frontend/.next

# Environment - Ignores all files starting with `.env`, preventing sensitive information from being committed
.env*

# Python - Ignores Python cache files and the virtual environment directory
/python_nlp/__pycache__
/python_nlp/data/dev.spacy
/python_nlp/data/train.spacy
/python_nlp/output
/python_nlp/venv

# Next.js - Ignores the Next.js build output and the export directory
/.next/
/out/

# Build results - Ignores directories containing test coverage reports and build artifacts
/coverage
/build

# Misc - Ignores macOS-specific metadata files and private key files
.DS_Store
*.pem

# Debug - Ignores various debug and error log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel - Ignores the directory used by the Vercel CLI
.vercel

# TypeScript - Ignores TypeScript build information files and the Next.js declaration file
*.tsbuildinfo
next-env.d.ts

# Visual Studio - Ignores the VS Code settings, cache directory and VS Studio specific files
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates