# Dependencies
/backend/node_modules
/frontend/node_modules

# Environment variables
.env

# Python virtual environments
/python_nlp/venv

# For macOs
.DS_Store

# Visual Studio Code files
.vscode/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates